<!DOCTYPE HTML>

<html>
  <head>
    <title>College Scorecard API</title>
  </head>
  <body style="text-align:center;">
    <h1>College Info</h1>
      <h3>{{name0}}</h3>
      Student Size: {{ size0 }}
      <h3>{{name1}}</h3>
      Student Size: {{ size1 }}
      <h3>{{name2}}</h3>
      Student Size: {{ size2 }}
      <h3>{{name3}}</h3>
      Student Size: {{ size3 }}
      <br><br>
      <form action = "/">
        <input type = "submit" name = "sub1" value="Home">
      </form>
  </body>
</html>
