<!-- Amanda "Amber" Chen, Elizabeth Doss (Team The Riftbreakers)
     SoftDev2 pd1
     K18 - Come Up For Air
     2020-04-20 -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>

<style>
.line {
    fill: none;
    stroke: #2f00ff;
    stroke-width: 2;
}

.dot {
    fill: #2f00ff;
    stroke: #fff;
}
</style>

<body>
  <h1>CHANGE IN USA GDP: 1960-2015</h1>
  <p>
    This dataset shows the change in value of the GDP of the US from 1960 to 2015. <br>
    Click Render to show a line graph of USA's GDP from 1960 to 1973.<br>
    Click Transition to show the next fourteen years.
  </p>
  <button id="render"> Render </button>
  <button id="transition"> Transition </button>
  <div id="linegraph"></div>
  <script src="http://d3js.org/d3.v5.min.js"></script>
  <script type="text/javascript">
    var gdp = {{ gdp|tojson }}
    // console.log({{gdp|tojson}})
  </script>
  <script src="{{ url_for('static', filename='d3.js')}}"></script>
</body>
</html>
